:root {
    --primary: #2c8ac4;
    --bg: #0f0101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
}

/*footer*/
.footer-custom{
    background-color: black;
    padding: 1rem 5rem;
}

.footer-custom .footer-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 2rem;
}

.footer-custom .footer-logo{
    display: flex;
    align-items: center;
    float: right;
    gap: 1rem;
}

.footer-custom .footer-logo img{
    width: 75px;
}

.footer-custom .footer-logo h1{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.footer-custom .footer-logo span{
    color: var(--primary);
}

.garis {
    width: 100%; 
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.footer-custom .footer-body{
    display: flex;
    padding-top: 3rem;
}
.footer-custom .footer-body > div{
    flex: 1;
    padding-right: 2rem;
}

.footer-custom .footer-body h3{
    font-weight: 600;
    font-size: 1.5rem;
}

.footer-custom .links a{
    color: white;
    display: flex;
    text-decoration: none;
}

.footer-custom .contac a{
    color: white;
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
    gap: 1rem;
    text-decoration: none;
}
.footer-custom .credit{
    text-align: center;
    padding-top: 3rem;
}

.footer-custom .sosials a:hover{
    color :var(--primary);
    transition-duration: 300ms;
}

.footer-custom .links a:hover{
    color: var(--primary);
    transition-duration: 300ms;
}

.footer-custom .contac a:hover{
    color: var(--primary);
    transition-duration: 300ms;
}
/* Media Queries */

/*Tablet*/
@media (max-width: 1024px) and (min-width: 769px) {
    html {
        font-size: 62.5%;
    }
    
}

/* Mobile Phone */
@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .footer-custom .footer-body{
        display: none;
        padding: 1rem 1rem;
    }
}